.switch {
	margin: auto;
	position: relative;
	cursor: pointer;
}
.switch__icon,
.switch__input {
	display: block;
}

.switch__icon {
	position: absolute;
	top: 6px;
	right: 6px;
	width: 12px;
	height: 12px;
	transition: opacity calc(var(--trans-dur) / 2), transform calc(var(--trans-dur) / 2);

	& polyline {
		transition: stroke-dashoffset calc(var(--trans-dur) / 2);
	}

	&--light,
	&--light polyline {
		transition-delay: calc(var(--trans-dur) / 2);
		transition-timing-function: var(--trans-timing-out);
	}

	&--dark {
		opacity: 0;
		transform: translateX(-12px) rotate(30deg) scale(0.75);
		transition-timing-function: var(--trans-timing-in);
	}
}

.switch__input {
	background-color: hsl(210, 90%, 70%);
	// background-color: hsl(210, 90%, 70%);
	border-radius: 12px;
	box-shadow: 0 0 0 2px hsla(var(--hue), 90%, 50%, 0), 2px 2px 4px hsla(var(--hue), 90%, 10%, 0.2);
	outline: transparent;
	position: relative;
	width: 48px;
	height: 24px;
	-webkit-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
	transition: background-color var(--trans-dur) var(--trans-timing), box-shadow 0.15s linear;

	&:focus-visible {
		box-shadow: 0 0 0 2px hsl(var(--hue), 90%, 50%), 2px 2px 4px hsla(var(--hue), 90%, 10%, 0.2);
	}

	&:before {
		content: "";
		display: block;
		background-color: hsl(50, 90%, 50%);
		border-radius: inherit;
		mask-image: linear-gradient(120deg, hsl(0, 0%, 0%) 20%, hsla(0, 0%, 0%, 0) 80%);
		-webkit-mask-image: linear-gradient(120deg, hsl(0, 0%, 0%) 20%, hsla(0, 0%, 0%, 0) 80%);
		inset: 0;
		transition: background-color var(--trans-dur) var(--trans-timing);
		cursor: pointer;
	}

	&:after {
		content: "";
		display: block;
		background-color: hsl(0, 0%, 100%);
		border-radius: 50%;
		box-shadow: 1px 1px 1px hsla(var(--hue), 90%, 10%, 0.1);
		position: absolute;
		top: 2px;
		left: 2px;
		width: 20px;
		height: 20px;
		transition: background-color var(--trans-dur) var(--trans-timing), transform var(--trans-dur) var(--trans-timing);
		z-index: 1;
		cursor: pointer;
	}

	&:checked {
		background-color: hsl(290, 90%, 40%);
	}

	&:checked:before {
		background-color: hsl(220, 90%, 40%);
	}

	&:checked:after {
		background-color: hsl(0, 0%, 0%);
		transform: translateX(24px);
	}

	&:checked ~ .switch__icon--light,
	&:checked ~ .switch__icon--light polyline {
		transition-delay: 0s;
		transition-timing-function: var(--trans-timing-in);
	}

	&:checked ~ .switch__icon--light {
		opacity: 0;
		transform: translateX(-12px) rotate(-30deg) scale(0.75);
	}

	&:checked ~ .switch__icon--light polyline {
		stroke-dashoffset: 1.5;
	}

	&:checked ~ .switch__icon--dark {
		opacity: 1;
		transform: translateX(-24px);
		transition-delay: calc(var(--trans-dur) / 2);
		transition-timing-function: var(--trans-timing-out);
	}
}

.switch__sr {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
}
