.intro {
  display: flex;
  gap: 36px;
  flex-direction: column;
  padding: 96px 0 0 0;
  height: 100vh;

  &-header {
    display: flex;
    gap: 12px;
    flex-direction: column;

    &__title {
      color: var(--color-text);
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
    }
    &__pronunciation {
      line-height: 24px;
      font-size: 12px;
    }
  }
  &-section {
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: center;

    &__about {
      display: flex;
      flex-direction: column;
      gap: 12px;

      &-title {
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
      }
      &-link {
        height: max-content;
        border-radius: 0.125rem;
        background-color: var(--text-link);
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        font-weight: 300;
        transition-property: background-color, border-color, color, fill, stroke;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 0.15s;
        transition-timing-function: linear;
        cursor: pointer;
      }
    }
  }
}
